<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="false" scan="true" scanPeriod="5 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{HH:mm:ss.SSS} %1.-1level [%logger{0}] %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="h2database" additivity="false">
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</logger>

	<logger name="java.sql" additivity="false">
		<level value="INFO" />
		<appender-ref ref="stdout" />
	</logger>

	<logger name="sun.net.www" additivity="false">
		<level value="TRACE" />
		<appender-ref ref="stdout" />
	</logger>

	<logger name="cn.microgravity" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="stdout" />
	</root>
</configuration>